@mixin btnLarge() {
  display: inline-block;
  box-sizing: border-box;
  height: 56px;
  padding: 16px 124px;
  background: var(--brand-blue);
  border: 0;
  border-radius: 40px;
  font-family: Pretendard, sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  text-align: center;
  line-height: 2.4rem;
}

@mixin btnSmall() {
  display: inline-block;
  box-sizing: border-box;
  height: 48px;
  padding: 14px;
  background: var(--brand-blue);
  border: 0;
  border-radius: 8px;
  text-align: center;
  font-family: Pretendard, sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
  line-height: 2rem;
}

.btn-large,
.btn-small {
  &:visited {
    color: #fff;
  }
  &:hover {
    background: #1967d6;
    color: #fff;
  }
  &:active {
    background: #1251aa;
    color: #fff;
  }
  &:disabled {
    background: #9ca3af;
    color: #fff;
  }
  &:link {
    color: #fff;
  }
}
.btn-large {
  @include btnLarge();
}

.btn-small {
  @include btnSmall();
}
