@import "_reset.scss";
@import "_common.scss";

@import "_layout.scss";
@import "_spr.sprite.scss";
@import "_form.scss";

@import "page/AddItemPage.scss";
@import "page/ItemPage.scss";
@import "page/DetailPage.scss";
@import "page/BoardPage.scss";
@import "page/SignPage.scss";
@import "page/HomePage.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;
