.article {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
  border-bottom: 1px solid var(--cool-grey200);
}
.main {
  display: flex;
  .title {
    flex: 1 1;
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.38rem;
    .link {
      color: var(--cool-grey800);
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .image {
    width: 72px;
    height: 72px;
    border: 1px solid var(--cool-grey200);
    border-radius: 8px;
    flex: 0 0 72px;
    overflow: hidden;
  }
}
.info {
  display: flex;
  justify-content: space-between;
  .wrap {
    display: flex;
    gap: 8px;
    align-items: center;

    .count {
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 2.4rem;
      color: var(--cool-grey500);
      font-style: normal;
    }
  }
}
