$size-desktop: 1200px;
$size-tablet: 768px;
$size-mobile: 375px;

.gnb {
  display: flex;
  align-items: stretch;
  .gnb-list {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 109px;
    font-family: Pretendard;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
    text-align: center;
    @media screen and (max-width: $size-tablet) {
      min-width: auto;
      padding: 0 4px;
    }
  }
  .link {
    color: var(--cool-grey600);
    &:visited {
      color: var(--cool-grey600);
    }
    &.on {
      color: var(--brand-blue);
    }
  }
}
