$size-desktop: 1200px;
$size-tablet: 768px;
$size-mobile: 375px;

.itemLists {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px 24px;
  grid-template-columns: repeat(5, 1fr);
  @media screen and (max-width: $size-desktop) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (max-width: $size-tablet) {
    grid-template-columns: repeat(2, 1fr);
  }
  &.best {
    grid-template-columns: repeat(4, 1fr);
    @media screen and (max-width: $size-desktop) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: $size-tablet) {
      grid-template-columns: repeat(1, 1fr);
    }
    &.skeleton {
      .itemList {
        @media screen and (max-width: $size-desktop) {
          &:nth-child(n + 3) {
            display: none;
          }
        }
        @media screen and (max-width: $size-tablet) {
          &:nth-child(n + 2) {
            display: none;
          }
        }
      }
    }
  }
  &.skeleton {
    .itemList {
      @media screen and (max-width: $size-desktop) {
        &:nth-child(n + 7) {
          display: none;
        }
      }
      @media screen and (max-width: $size-tablet) {
        &:nth-child(n + 5) {
          display: none;
        }
      }
    }
    .image {
      position: relative;
      width: 100%;
      padding-bottom: 100%;
      background: rgb(249, 250, 251);
      border-radius: 16px;
      overflow: hidden;
    }
  }
  .itemList {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
