.section-detail {
  display: flex;
  gap: 24px;
  padding: 24px 0;
  @media screen and (max-width: $size-tablet) {
    flex-direction: column;
  }
  .section-img {
    width: 486px;
    max-height: 486px;
    @media screen and (max-width: $size-tablet) {
      width: 100%;
      max-height: none;
      aspect-ratio: 1/1;
    }
    .detail-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 16px;
    }
  }
  .section-content {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    justify-content: space-between;
    .section-row {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
    .section-tit {
      position: relative;
    }
    .detail-tit {
      font-size: 2.4rem;
      font-weight: 600;
    }
    .btn-more {
      float: right;
      border: none;
      background: transparent;
    }
    .pop-menu {
      position: absolute;
      right: 0;
      transform: translateY(-10px);
      background: #fff;
      border: 1px solid #ccc;
      border-radius: 14px;
      overflow: hidden;
      li {
        border-top: 1px solid #ddd;
        &:first-child {
          border-top: 0;
        }
      }
      &_btn {
        padding: 5px 20px;
        font-size: 1.4rem;
        &:hover {
          background: #f9f9f9;
        }
      }
    }
    .detail-price {
      font-size: 4rem;
      font-weight: 600;
    }
    .btn-heart {
      display: flex;
      align-self: flex-start;
      align-items: center;
      gap: 4px;
      padding: 4px 12px;
      border: 1px solid var(--cool-grey200);
      border-radius: 35px;
      background: #fff;
      font-family: Pretendard;
      font-size: 1.6rem;
      font-weight: 500;
      color: #6b7280;
    }
    .tag-view {
      display: flex;
      flex-direction: column;
      gap: 12px;
      .tag-container {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
      }
      &__list {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 12px 16px;
        background: #f9fafb;
        border-radius: 9999px;
      }
    }
    .info-list {
      display: flex;
      align-items: center;
      li {
        &:first-child:before {
          content: none;
        }
        &:before {
          content: "";
          float: left;
          height: 2.4rem;
          margin: 0 16px;
          border-left: 1px solid var(--cool-grey200);
        }
      }
      .chk_like {
        display: none;
      }
      .lab_like {
        display: flex;
      }
      .like {
        display: flex;
        gap: 4px;
        align-items: center;
        font-size: 1.4rem;
        font-weight: 400;
        .count {
          font-style: normal;
        }
      }
    }
  }
  .section-detail-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;
    .section-tit {
      font-size: 1.4rem;
      font-weight: 500;
    }
    .section-content {
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 2.24rem;
    }
  }
}
.section-comment {
  margin-top: 24px;
  .section-tit {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;
  }
  .section-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    .txt-comment {
      display: flex;
      width: 100%;
      padding: 16px 24px;
      min-height: 104px;
    }
    .btn-comment {
      align-self: flex-end;
    }
  }
}

.section-replyList {
  .no-reply {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: #9ca3af;
  }
}

.section-btn {
  display: flex;
  justify-content: center;
  padding: 40px 0;
  .btn-list {
    @include btnLarge();
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 38.5px;
    font-size: 1.8rem;
  }
}
.section-article-content {
  padding: 16px 0;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: var(--cool-grey800);
  .content-img {
    margin: 10px 0;
    width: fit-content;
    height: fit-content;
  }
}
